body {
    background-color: black;
    color: white;
}

.custom-header {
    text-align: center;
    font-size: 2.5rem;
}

.custom-para {
    text-align: center;
    font-size: 1.2em;
}

/* TODO: Need to split up the CSS styles for Dashboard and Home */
